<h1>resto's</h1>


<%@restaurants.each do |restaurant|%>
<ul>
<li><%=restaurant.name %></li>
<li><%=restaurant.description%></li>
<%if logged_in?%>
<li><a href="/review/<%=restaurant.id%>/new">review this joint</a></li>
<%end%>
</ul>
<%end%>
