<h1>post a new restaurant</h1>

<form class="post" id="post" action="/restaurant/new" method="post">

  <input type="text" name="restaurant[name]" placeholder="name">

  <textarea name="restaurant[description]" placeholder="write your post..."></textarea>

  <input type="submit" value="post this business">

</form>
