<h1>post a new restaurant</h1>

<form class="restaurant" id="restaurant" action="/restaurant/new" method="post">

  <input type="text" name="restaurant[name]" placeholder="name">
   <input type="text" name="restaurant[cuisine]" placeholder="cuisine">

  <textarea name="restaurant[description]" placeholder="write your post..."></textarea>

  <input type="submit" value="post this business">

</form>
