<h1>edit your review for <%=@review.restaurant.name%></h1>

<form method="post" action="/review/<%=@review.id%>">
  <input type="hidden" name="_method" value="PUT">

  <textarea name="review[body]"><%=@review.body%>"</textarea>
    <input type="submit" value="update my review">
</form>
