<h1>post a review for <%=@restaurant.name %></h1>

<form class="review" id="review" action="/review/<%=@restaurant.id%>" method="post">


  <textarea name="review[body]" placeholder="write your review here..."></textarea>

  <input type="submit" value="post this review">

</form>
<ul>
<%@reviews.each do |review|%>
<li><%=review.body%></li>
<li>left by: <%=review.user.username%></li>
<%end%>
</ul>
